@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.Bot {
  display: flex;
  margin: 30px 10px;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

.IndexVal {
  font-weight: lighter;
  font-size: 0.9em;
}
.botCagr {
  font-size: 1.4rem;
  color: #07e61a;
}
.btn{
  cursor: pointer;
  border: 2px solid #3498db;
  background-color: transparent;
  height: 30px;
  width: 150px;
  color: #3498db;
  font-size: 1.5em;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
}
.btn1{
  cursor: pointer;
  border: 2px solid #3498db;
  background-color: transparent;
  height: 30px;
  width: 150px;
  color: #3498db;
  font-size: 1.5em;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
}
.botValue {
  font-size: 1.4rem;
}
.botType {
  font-size: 2rem;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.botItem {
  flex: 0.25;
  display: flex;
  flex-direction: column;
}
/* .botItem:nth-child(1) {
    background-color: blue;
}
.botItem:nth-child(2) {
    background-color: red;
}
.botItem:nth-child(3) {
    background-color: green;
}
.botItem:nth-child(4) {
  background-color: yellow;
} */
